<div class="container text-center header">
  <%= image_tag "logo.png", class: "logo"%>
  <br>
  <h2><i class="fas fa-bars" data-toggle="collapse" data-target="#demo"></i></h2>
  <div id="demo" class="collapse text-center">
   <%= link_to products_path do %> <h5>Inicio</h5> <% end %>
   <%= link_to pages_elbrujo_path do %> <h5>El Brujo</h5> <% end %>
   <h5>Brujeria</h5>
   <h5>Contactanos</h5>
 </div>
 <hr>
</div>
<div class="container content">
  <div class="row">
    <div class="col-sm-12 col-lg-12  text-center">
      Brujería es el grupo de creencias, conocimientos prácticos y actividades atribuidos a ciertas personas llamadas brujas (existe también la forma masculina, brujos, aunque es menos frecuente) que están supuestamente dotadas de ciertas habilidades mágicas​
      <br>
      <br>
      La creencia en la brujería es común en numerosas culturas desde la más remota antigüedad, y las interpretaciones del fenómeno varían significativamente de una cultura a otra. En el Occidente cristiano, la brujería se ha relacionado frecuentemente con la creencia en el Diablo, especialmente durante la Edad Moderna, en que se desató en Europa una obsesión por la brujería que desembocó en numerosos procesos y ejecuciones de brujas (lo que se denomina «caza de brujas»). Algunas teoríasb​ relacionan la brujería europea con antiguas religiones paganas de la fertilidad, aunque ninguna de ellas ha podido ser demostrada. Las brujas tienen una gran importancia en el folclore de muchas culturas, y forman parte de la cultura popular.
      <br>
      <br>
      Si bien este es el concepto más frecuente del término «bruja», desde el siglo xx el término ha sido reivindicado por sectas ocultistas y religiones neopaganas, como la Wicca, para designar a todas aquellas personas que practican cierto tipo de magia, sea esta maléfica (magia negra) o benéfica (magia blanca), o bien a los adeptos de una determinada religión. Es considerada la brujería, una forma de espiritismo.
      <br>
      <br>
      Un uso más extenso del término se emplea para designar, en determinadas sociedades, a los magos o chamanes.
    </div>
  </div>
</div>
<div class="footer">
  <%= image_tag "leo.png", class: "leo"%>
</div>
