<div class="container" >
   <%= link_to products_path do %>
  <div class="text-center center-screen">
      <hr>
      <%= image_tag "logo.png", class: "responsive"%>
      <h6>Entrar</h6>
      <hr>
  </div>
  <% end %>
</div>
